.showHand{
    cursor: pointer; }


.delete-icon{
    visibility: hidden;
    display: inline-block;
}
.delete-row:hover .delete-icon{
   visibility: visible;
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
}

.fixed-table th,
.fixed-table td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.min-h-200 {
  min-height: 600px;
}
.text-justify{
  text-align: justify;
}

