.showHand{
    cursor: pointer; }


.delete-icon{
    visibility: hidden;
    display: inline-block;
}
.delete-row:hover .delete-icon{
   visibility: visible;
}

.fixed-table {
  table-layout: fixed;
  width: 100%;
}

@media (max-width: 576px) {
 .fixed-table {
  table-layout: auto;
  width: 100%;
} 
}
.fixed-table th,
.fixed-table td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.min-h-200 {
  min-height: 600px;
}
.text-justify{
  text-align: justify;
}
.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    outline: transparent !important;
    /* border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color); */
    /* border-radius: var(--bs-navbar-toggler-border-radius); */
    transition: var(--bs-navbar-toggler-transition);
}
